<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="greeting" value="Hello"/>
    <add key="ParentTableName" value="Client"/>
    <add key="ChildTableName" value="Appointment"/>
    <add key="ChildNumberOfColumns" value="8"/>
    <add key="ChildLabelNames" value="CID,SID,EmID,TyID,AtID,Duration,Price,Date"/>
    <add key="ChildTextBoxContent" value="1,1,4340,1,1,60,100,'7/7/2020'"/>
    <add key="columnNamesInsertParameters" value="@CID,@SID,@EmID,@TyID,@AtID,@Duration,@Price,@Date"/>
    <add key="UpdateQuery" value="update Appointment set  Duration = @Duration, Price = @Price, Date = @Date where CID = @CID and SID = @SID and EmID = @EmID and TyID = @TyID and AtID = @AtID;"/>
    <add key="SelectQuery" value="select * from Appointment"/>
    <add key="SelectParent" value="select * from Client"/>
    <add key="SelectChild" value="select * from Appointment where CID=@id"/>
    <add key="DeleteChild" value="DELETE FROM Appointment WHERE CID=@CID and SID=@SID and EmID=@EmID and TyID = @TyID and AtID = @AtID;"/>
    
    <!--<add key="greeting" value="Hello"/>
    <add key="ParentTableName" value="Employee"/>
    <add key="ChildTableName" value="Appintment"/>
    <add key="ChildNumberOfColumns" value="7"/>
    <add key="ChildLabelNames" value="CID,SID,EmID,TyID,AtID,Duration,Price,Date"/>
    <add key="ChildTextBoxContent" value="1,1,4340,1,1,120,120,'7/7/2020'"/>
    <add key="ColumnNamesInsertParameters" value="@CID,@SID,@EmID,@TyID,@AtID,@Duration,@Price,@Date"/>
    <add key="UpdateQuery" value="update Appointment set  Duration = @Duration, Price = @Price, Date = @Date where CID = @CID, SID = @SID, EmID = @EmID, TyID = @TyID , AtID = @AtID"/>
    <add key="SelectQuery" value="select * from Appointment"/>
    <add key="SelectParent" value="select * from Employee"/>
    <add key="SelectChild" value="select * from Appointment where EmId=@id"/>
    <add key="DeleteChild" value="DELETE FROM Appointment WHERE CID=@CID, SID=@SID, EmID=@EmID;"/>-->
    
  </appSettings>
</configuration>